<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/MauBinh/arranged_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,984},{136,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,36}</string>
			</dict>
			<key>res/CardGame/MauBinh/arranging_dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,1},{9,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,8}</string>
			</dict>
			<key>res/CardGame/MauBinh/arranging_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,784},{185,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,37}</string>
			</dict>
			<key>res/CardGame/MauBinh/bat_sap_lang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,639},{288,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,79}</string>
			</dict>
			<key>res/CardGame/MauBinh/bi_sap_lang.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1},{317,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,78}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_again.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,331},{129,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,42}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_bao_binh.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,798},{129,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,42}</string>
			</dict>
			<key>res/CardGame/MauBinh/btn_arrange_so_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,798},{129,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,42}</string>
			</dict>
			<key>res/CardGame/MauBinh/chi_text_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,686},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>res/CardGame/MauBinh/chi_text_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,929},{76,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,43}</string>
			</dict>
			<key>res/CardGame/MauBinh/draw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,639},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>res/CardGame/MauBinh/kind_of_chi_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{181,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,122}</string>
			</dict>
			<key>res/CardGame/MauBinh/lose_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,378},{111,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,42}</string>
			</dict>
			<key>res/CardGame/MauBinh/match_start_after_time_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,465},{272,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{272,28}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{543,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{543,279}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,589},{363,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,45}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,542},{363,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{363,45}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,282},{251,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,45}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,331},{222,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,45}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,465},{268,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,53}</string>
			</dict>
			<key>res/CardGame/MauBinh/maubinh_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,465},{317,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,39}</string>
			</dict>
			<key>res/CardGame/MauBinh/mb_bg_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,210},{253,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{253,115}</string>
			</dict>
			<key>res/CardGame/MauBinh/player_slot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1},{387,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{387,207}</string>
			</dict>
			<key>res/CardGame/MauBinh/sanh_vua.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{288,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,79}</string>
			</dict>
			<key>res/CardGame/MauBinh/sap_3_chi.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,320},{317,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,78}</string>
			</dict>
			<key>res/CardGame/MauBinh/selectCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,378},{82,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,106}</string>
			</dict>
			<key>res/CardGame/MauBinh/So_At.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,465},{267,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,75}</string>
			</dict>
			<key>res/CardGame/MauBinh/soloMauBinhTinhAt.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,210},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/MauBinh/time_arrange_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,798},{184,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,32}</string>
			</dict>
			<key>res/CardGame/MauBinh/waiting_next_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,282},{237,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,31}</string>
			</dict>
			<key>res/CardGame/MauBinh/waiting_other_players_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,465},{404,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{404,31}</string>
			</dict>
			<key>res/CardGame/MauBinh/win_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,739},{133,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMauBinh.png</string>
			<key>realTextureFileName</key>
			<string>PlistMauBinh.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>