<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/TaiXiu/images/bat_nan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,312},{293,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,293}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_huloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,607},{228,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,94}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_money_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,978},{162,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,40}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_money_pot.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,985},{169,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,902},{647,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{647,39}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,550},{119,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,42}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_soicau_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,840},{119,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,42}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_sophienTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,736},{124,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_timeTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,698},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bg_vongtron.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{309,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,309}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/bonan.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1},{100,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,56}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,783},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_back_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,679},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,189},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_close_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,236},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_dongy.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,937},{158,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,46}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{293,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{293,178}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_putmoney.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,504},{171,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_rutloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,896},{180,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,39}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_rutloc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,937},{180,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,39}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{234,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,73}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_select_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,943},{234,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,73}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,885},{87,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_soicau_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1},{85,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,44}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tanloc.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,88},{99,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/btn_tanloc_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,36},{99,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/button_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,943},{178,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/button_number_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,837},{178,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/iconHuLoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,236},{57,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,62}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/mt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,698},{77,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/mt9.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,594},{77,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,83}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/nan.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,103},{100,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,56}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/Shadow_Tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,566},{209,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,31}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/small_number.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,771},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/small_number_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,828},{115,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,55}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/sp_tai.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,137},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/sp_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,978},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,811},{106,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,85}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tooltip01.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,506},{132,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,58}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/tooltip02.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1000},{134,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,21}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/txtTai.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,301},{82,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,61}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/txtXiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,236},{84,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,63}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/userTX.png</key>
			<dict>
				<key>frame</key>
				<string>{{995,1},{33,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,28}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_den.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,607},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_tien.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,172},{31,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,31}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/vong_trang.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,709},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xiu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,514},{106,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,85}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx11.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,405},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx12.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,405},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx13.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,599},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx14.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,698},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx15.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,797},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx16.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,599},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,96}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx21.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,803},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx22.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,203},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx23.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,304},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx24.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,203},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx25.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,405},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx26.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,304},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx31.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,312},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx32.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,413},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx33.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,601},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx34.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,702},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx35.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
			<key>res/Minigame/TaiXiu/images/xx36.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,102},{98,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMNTaiXiu.png</string>
			<key>realTextureFileName</key>
			<string>PlistMNTaiXiu.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>