<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/BaCay/an_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,904},{114,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,100}</string>
			</dict>
			<key>res/CardGame/BaCay/bg_content_ketqua.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,1},{815,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{815,67}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_mobai.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,951},{146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,45}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,904},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_vao_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,935},{179,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,47}</string>
			</dict>
			<key>res/CardGame/BaCay/btn_xacnhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,818},{175,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,51}</string>
			</dict>
			<key>res/CardGame/BaCay/caLangSangTien.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{629,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{629,129}</string>
			</dict>
			<key>res/CardGame/BaCay/chicken.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,904},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>res/CardGame/BaCay/laBaiChe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,590},{140,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,179}</string>
			</dict>
			<key>res/CardGame/BaCay/moBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,935},{171,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,52}</string>
			</dict>
			<key>res/CardGame/BaCay/moLuon.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,904},{159,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,45}</string>
			</dict>
			<key>res/CardGame/BaCay/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,960},{30,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,46}</string>
			</dict>
			<key>res/CardGame/BaCay/money_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,984},{77,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,39}</string>
			</dict>
			<key>res/CardGame/BaCay/money_dat_cuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,935},{79,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,39}</string>
			</dict>
			<key>res/CardGame/BaCay/money_kecua.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,984},{77,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,39}</string>
			</dict>
			<key>res/CardGame/BaCay/number_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,124},{20,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,39}</string>
			</dict>
			<key>res/CardGame/BaCay/number_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,42},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>res/CardGame/BaCay/number_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1},{26,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,39}</string>
			</dict>
			<key>res/CardGame/BaCay/number_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,995},{27,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,39}</string>
			</dict>
			<key>res/CardGame/BaCay/number_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,83},{25,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,39}</string>
			</dict>
			<key>res/CardGame/BaCay/ok_danhbien.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,904},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/CardGame/BaCay/phatLuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,1},{575,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{575,135}</string>
			</dict>
			<key>res/CardGame/BaCay/phatLuongCaLang.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,1},{587,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{587,135}</string>
			</dict>
			<key>res/CardGame/BaCay/sp_chuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,951},{122,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,47}</string>
			</dict>
			<key>res/CardGame/BaCay/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,165},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/CardGame/BaCay/text_dangxem.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,818},{140,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,25}</string>
			</dict>
			<key>res/CardGame/BaCay/text_wait_player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{411,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{411,29}</string>
			</dict>
			<key>res/CardGame/BaCay/bg_table_right_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,578},{324,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{324,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBaCay.png</string>
			<key>realTextureFileName</key>
			<string>PlistBaCay.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>