<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Lobby/avatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,168},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>res/Lobby/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,461},{357,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{357,50}</string>
			</dict>
			<key>res/Lobby/bg_checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,135},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/bg_tendangnhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{943,1},{167,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,41}</string>
			</dict>
			<key>res/Lobby/btn_android.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,217},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>res/Lobby/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,187},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Lobby/btn_chat_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,135},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Lobby/btn_Daily.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,86},{73,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
			<key>res/Lobby/btn_even_st.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,272},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Lobby/btn_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,238},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>res/Lobby/btn_giftcode.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,70}</string>
			</dict>
			<key>res/Lobby/btn_hotro.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,1},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,70}</string>
			</dict>
			<key>res/Lobby/btn_ios.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,53},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>res/Lobby/btn_New.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,76},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,70}</string>
			</dict>
			<key>res/Lobby/btn_quydinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,168},{73,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,70}</string>
			</dict>
			<key>res/Lobby/btn_send_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,135},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>res/Lobby/btn_send_chat_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,135},{54,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>res/Lobby/btn_windowfone.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,124},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>res/Lobby/btn_youtube.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,1},{165,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,70}</string>
			</dict>
			<key>res/Lobby/btnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,238},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnBack_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,263},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnChat.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,148},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/Lobby/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,272},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnClose_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,288},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnCreatNickname.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/Lobby/btnCreatNickname_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/Lobby/btnDangKy.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,272},{132,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,45}</string>
			</dict>
			<key>res/Lobby/btnDangKy_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,272},{132,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,45}</string>
			</dict>
			<key>res/Lobby/btnDangNhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1},{132,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,45}</string>
			</dict>
			<key>res/Lobby/btnDangNhap_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,86},{132,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,45}</string>
			</dict>
			<key>res/Lobby/btnFacebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,76},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>res/Lobby/btnFanpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,53},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/Lobby/btnFanpage_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,53},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>res/Lobby/btnForgetPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1},{125,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,28}</string>
			</dict>
			<key>res/Lobby/btnGoogle.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,177},{55,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,54}</string>
			</dict>
			<key>res/Lobby/btnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Lobby/btnMail.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,170},{67,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,66}</string>
			</dict>
			<key>res/Lobby/btnMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,319},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnNapVin.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,302},{60,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,59}</string>
			</dict>
			<key>res/Lobby/btnRefresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,157},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>res/Lobby/btnSercurity.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,238},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/Lobby/btnShop.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,195},{67,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,66}</string>
			</dict>
			<key>res/Lobby/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,319},{13,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>res/Lobby/closetf.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,204},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Lobby/icon_hu_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,168},{110,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,102}</string>
			</dict>
			<key>res/Lobby/leftArrow_Click.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,133},{41,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,69}</string>
			</dict>
			<key>res/Lobby/leftArrow_Nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,220},{41,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,69}</string>
			</dict>
			<key>res/Lobby/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{210,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,338}</string>
			</dict>
			<key>res/Lobby/logo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>res/Lobby/money_Vin.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,461},{256,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,50}</string>
			</dict>
			<key>res/Lobby/money_Xu.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1},{251,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,50}</string>
			</dict>
			<key>res/Lobby/muiten_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,128},{37,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,47}</string>
			</dict>
			<key>res/Lobby/nodecheckbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,161},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/rightArrow_Click.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,220},{41,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,69}</string>
			</dict>
			<key>res/Lobby/rightArrow_Nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,125},{41,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,69}</string>
			</dict>
			<key>res/Lobby/thanhExp.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,319},{129,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,10}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistLobby.png</string>
			<key>realTextureFileName</key>
			<string>PlistLobby.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>