<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/item/wild/Wild_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,3193},{390,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{390,540}</string>
			</dict>
			<key>Avenger/item/wild/Wild_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,403},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,403},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,533},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,805},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,805},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,805},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1065},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1207},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1207},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1207},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1597},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1609},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1609},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,1609},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2011},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2011},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,2011},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,2129},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2413},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,2413},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,2413},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,2661},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,3193},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,3193},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
			<key>Avenger/item/wild/Wild_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,2815},{400,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,530}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistWild.png</string>
			<key>realTextureFileName</key>
			<string>PlistWild.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>