<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>VuongQuocVin/chon_dong/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,75},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,75},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,75},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,1},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,106},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,180},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,180},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,180},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/14_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,106},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,106},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/15_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,106},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,106},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/16_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,211},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,285},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/17_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,285},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,285},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/18_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,211},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,211},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/19_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,211},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,237},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,316},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,390},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/20_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,390},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,390},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,316},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,316},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,316},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,368},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,421},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,495},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,495},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,421},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,421},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,421},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,499},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,526},{129,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,103}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/btn_chon_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{215,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,72}</string>
			</dict>
			<key>VuongQuocVin/chon_dong/btn_chon_dong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1},{215,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistChonDong.png</string>
			<key>realTextureFileName</key>
			<string>PlistChonDong.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>