<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/Poker/0nuocLieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,637},{117,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,40}</string>
			</dict>
			<key>res/CardGame/Poker/allInIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,491},{64,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,24}</string>
			</dict>
			<key>res/CardGame/Poker/bangThongBao.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,174},{383,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,59}</string>
			</dict>
			<key>res/CardGame/Poker/betAmount.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,589},{114,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,46}</string>
			</dict>
			<key>res/CardGame/Poker/bgBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,557},{341,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,54}</string>
			</dict>
			<key>res/CardGame/Poker/bgHong.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,174},{479,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{479,41}</string>
			</dict>
			<key>res/CardGame/Poker/bglatBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{477,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,321}</string>
			</dict>
			<key>res/CardGame/Poker/bgThanhKeo.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1},{498,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,61}</string>
			</dict>
			<key>res/CardGame/Poker/bigBlindIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,995},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/CardGame/Poker/btnBuyInMinus.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,754},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>res/CardGame/Poker/btnBuyInOk.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,286},{228,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,67}</string>
			</dict>
			<key>res/CardGame/Poker/btnBuyInPlus.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,966},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>res/CardGame/Poker/btnCloseLatBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,747},{56,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,57}</string>
			</dict>
			<key>res/CardGame/Poker/btnDongY.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,674},{175,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,87}</string>
			</dict>
			<key>res/CardGame/Poker/btnLatBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,637},{93,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,35}</string>
			</dict>
			<key>res/CardGame/Poker/btnleftBoBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,262},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftBoBaiLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,651},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,651},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,674},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/btnLeftNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,824},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/btnMinus.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,736},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>res/CardGame/Poker/btnPlus.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,516},{45,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightDisable.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,957},{93,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,59}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{93,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,58}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightNoramal.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,851},{113,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,92}</string>
			</dict>
			<key>res/CardGame/Poker/btnRightNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,480},{93,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,59}</string>
			</dict>
			<key>res/CardGame/Poker/buttonHightlight.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,674},{148,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,106}</string>
			</dict>
			<key>res/CardGame/Poker/buyIn12.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{480,174},{498,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{498,61}</string>
			</dict>
			<key>res/CardGame/Poker/buyInDauKeo.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,601},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/CardGame/Poker/buyInOtrong.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,805},{55,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,55}</string>
			</dict>
			<key>res/CardGame/Poker/buyInTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,674},{60,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,47}</string>
			</dict>
			<key>res/CardGame/Poker/callIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,957},{64,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,24}</string>
			</dict>
			<key>res/CardGame/Poker/chienthang-23.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,782},{178,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,80}</string>
			</dict>
			<key>res/CardGame/Poker/clickButtonPress.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,380},{23,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,28}</string>
			</dict>
			<key>res/CardGame/Poker/closeBuyIn.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,324},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>res/CardGame/Poker/closeBuyIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,402},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>res/CardGame/Poker/dauBgHong.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,651},{24,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,42}</string>
			</dict>
			<key>res/CardGame/Poker/dauKeo.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,679},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>res/CardGame/Poker/dealerchuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,655},{120,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,186}</string>
			</dict>
			<key>res/CardGame/Poker/dealerIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,324},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/CardGame/Poker/diemAnh.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,501},{262,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,54}</string>
			</dict>
			<key>res/CardGame/Poker/diemChin.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,324},{263,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{263,53}</string>
			</dict>
			<key>res/CardGame/Poker/diemLieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,651},{262,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,54}</string>
			</dict>
			<key>res/CardGame/Poker/diemSap.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,957},{262,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{262,54}</string>
			</dict>
			<key>res/CardGame/Poker/logoLieng.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,146},{114,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,145}</string>
			</dict>
			<key>res/CardGame/Poker/logoPoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,1},{191,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,171}</string>
			</dict>
			<key>res/CardGame/Poker/logoVinPlay.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1},{150,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,143}</string>
			</dict>
			<key>res/CardGame/Poker/omBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,782},{219,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{219,64}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-04.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1},{283,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{283,32}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-05.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,516},{95,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,32}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-07.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,805},{44,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,42}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-09.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,613},{360,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,36}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-16.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1},{384,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,46}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-27.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,679},{62,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,59}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-28.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1},{275,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,47}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-29.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,801},{174,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,39}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-34.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,410},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,974},{288,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{288,42}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-44.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,740},{65,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,54}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-47.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,695},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>res/CardGame/Poker/poker112016-48.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,725},{27,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,30}</string>
			</dict>
			<key>res/CardGame/Poker/raiseIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,801},{64,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,24}</string>
			</dict>
			<key>res/CardGame/Poker/showCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,387},{190,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,97}</string>
			</dict>
			<key>res/CardGame/Poker/sitDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,962},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>res/CardGame/Poker/smallBlindIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,352},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>res/CardGame/Poker/standUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,966},{66,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,56}</string>
			</dict>
			<key>res/CardGame/Poker/thanhBet.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,915},{99,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,37}</string>
			</dict>
			<key>res/CardGame/Poker/thanhkeobanchoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,174},{315,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{315,19}</string>
			</dict>
			<key>res/CardGame/Poker/thanhKeoBuyIn.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,559},{455,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{455,42}</string>
			</dict>
			<key>res/CardGame/Poker/thanhXam.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,843},{371,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{371,48}</string>
			</dict>
			<key>res/CardGame/Poker/tu.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,915},{390,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistPoker.png</string>
			<key>realTextureFileName</key>
			<string>PlistPoker.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>