<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/CardGame/CommonResource/BanChoi/arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,907},{73,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,64}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/baiCao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,542},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ban-choi_0009_Forma-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,837},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bao1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,260},{106,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,158}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bao1b.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,420},{106,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,158}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bg_numcard_remain.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,706},{40,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,37}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bg_shape_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,252},{288,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,181}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_toi_trang.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,239},{137,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,139}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/effectTimePoker.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,646},{128,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,129}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/icon_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,977},{138,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,36}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/icon_huy_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,499},{138,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,36}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/logo_sam_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,122},{252,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,115}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/playerShell.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{815,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{815,75}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/playerShell2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,818},{815,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{815,75}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/samloc_solo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,663},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/samThanhCong.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1},{635,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{635,81}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/samThatBai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,895},{493,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,106}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/seperator1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{3,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{3,68}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/tienLen.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/TLMN-Solo.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,1},{257,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,119}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/viewing.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,676},{125,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,28}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/x_bao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,837},{39,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/process_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,977},{360,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,22}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/process_nen_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,895},{417,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,80}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,907},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,937},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,706},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/ping_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,706},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_xacnhan_endgame.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,499},{175,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{175,51}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_xep_labai.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,378},{131,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,132}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/chicken_table.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{266,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,249}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_back_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,737},{79,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,83}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_baosam.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,512},{131,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,132}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_boluot_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,1},{247,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_cash_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,755},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_chat_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,334},{79,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_danhbai_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,250},{247,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_exit_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,706},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_faq_gamebai.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,252},{80,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,82}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/btn_huybao_sam.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,638},{267,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,84}</string>
			</dict>
			<key>res/CardGame/CommonResource/BanChoi/bgName.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,639},{114,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistBanChoi.png</string>
			<key>realTextureFileName</key>
			<string>PlistBanChoi.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>