<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/ResSlotBa/btn_tuquay.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,345},{122,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btn_tuquay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,308},{122,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnChonDong.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,115},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnChonDong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,167},{121,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,50}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnQuay.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,779},{139,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/btnQuay_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,233},{139,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/closeMinigame.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/closeMinigame_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,56},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/event_pokerGo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,796},{432,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,182}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/event_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,115},{92,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,61}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/Glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/item_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,233},{110,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,96}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemBlue.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,920},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemCoBan.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,115},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemGreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,194},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,115},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemPink.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,273},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/ItemWild.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,194},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/PKC.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,403},{299,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,286}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/Sao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{391,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{391,378}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/sao_vang.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,980},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/SD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,980},{234,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,32}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,779},{125,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,118}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/star_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,899},{125,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,118}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/text_nohu.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,704},{269,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{269,112}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/text_nohux2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{401,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{401,112}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/Text_thanglon.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,704},{273,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,73}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/time_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,115},{116,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,104}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/vach.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1014},{1,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1,357}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/VisibleLine/showline.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,980},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>res/Minigame/ResSlotBa/VisibleLine/showline_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,980},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistPoKeGo.png</string>
			<key>realTextureFileName</key>
			<string>PlistPoKeGo.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>