<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Avenger/minigame/fire/Fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1011},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1213},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1415},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1617},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1819},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,335},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,537},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,739},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,941},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1143},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1345},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1547},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1749},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,133},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,265},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1881,335},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1073,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,397},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_61.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_62.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_64.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,529},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,537},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,731},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_69.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_70.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_71.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_72.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,661},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,669},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,863},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_77.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,933},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_78.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_79.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
			<key>Avenger/minigame/fire/Fire_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,793},{130,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistFire.png</string>
			<key>realTextureFileName</key>
			<string>PlistFire.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>