<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Minigame/BauCua/background_item.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,117},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_phien.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,211},{144,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,45}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_select_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{359,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,59}</string>
			</dict>
			<key>res/Minigame/BauCua/bg_soicau.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,1},{208,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,236}</string>
			</dict>
			<key>res/Minigame/BauCua/btn_room.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,280},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>res/Minigame/BauCua/button_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,276},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/BauCua/button_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,248},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/BauCua/ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,233},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,349},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,132},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/Glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{142,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,142}</string>
			</dict>
			<key>res/Minigame/BauCua/huou.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,132},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/Invisible.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,132},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/tiletren.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,211},{88,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,19}</string>
			</dict>
			<key>res/Minigame/BauCua/time.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{754,211},{144,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,45}</string>
			</dict>
			<key>res/Minigame/BauCua/time.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,248},{144,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,45}</string>
			</dict>
			<key>res/Minigame/BauCua/toichonca.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{596,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{596,129}</string>
			</dict>
			<key>res/Minigame/BauCua/tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,211},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>res/Minigame/BauCua/x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,465},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,484},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,465},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,507},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/x9.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,507},{61,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,40}</string>
			</dict>
			<key>res/Minigame/BauCua/xac_nhan_click.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,248},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/BauCua/xac_nhan_nor.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,280},{128,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,41}</string>
			</dict>
			<key>res/Minigame/BauCua/xengbac.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,383},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/Minigame/BauCua/xengdo.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,401},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/Minigame/BauCua/xengtim.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,327},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/xengvang.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,383},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/Minigame/BauCua/xengxanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,362},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/0.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,362},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,413},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,413},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,416},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,423},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,436},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_da_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,436},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/cau_vua_ve.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,460},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Click_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,132},{146,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,47}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/Nor_soi_cau.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,132},{146,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,47}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,345},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ca.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,327},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,291},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_ga.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,291},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_huou.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,357},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/Result/kq_tom.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,357},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,460},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
			<key>res/Minigame/BauCua/SoiCau/soicau_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,477},{59,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>realTextureFileName</key>
			<string>PlistMNBauCua.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>